body{
  margin: 10px 50px 10px 50px;
  font-size: 17px;

}
header{
  background-color: #B9FFF8;
  padding-bottom: 40px;

}

header h1{
  font-size: 100px;
  text-align: center;
  font-weight: 400;
  font-family: 'Caveat', cursive;  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 8px #FF4A4A;
}
header h2{
  font-size: 50px;
  text-align: center;
  font-weight: 400;
  font-family: 'Caveat', cursive;  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
header p {
  text-align: center;
  width: 60%;
  margin-left: 20%;
  margin-top: 0;
}
.section{
  background-color: #FF9551;

}
.section1{
  margin-bottom: 12%;
  width: 60%;
  margin-left: 20%;
  text-align: justify;


}
.section1 h2{
  margin-top: 0;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Caveat', cursive;  margin-bottom: 0;
}
.sec1p1{
  margin-top: 4%;
  margin-bottom: 4%;
}
.section1 button{
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.section1 button:hover{
  background-color: #008CBA;
}
.section1 img{
  width: 300px;
  height: 246px;
  float: left;
  margin-right: 100px;
}
.ExperSection{
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #6FEDD6;
}
.ExperSection1{
  width: 60%;
  margin-left: 20%;

}
.Education{
  background-image: url("../placeholder images/joanna-kosinska-unsplash.jpg");
  padding: 150px;
}
.EduSection{
  width: 60%;
  margin-left: 20%;
  text-align: justify;
}
.EduSection h2{
  font-size: 30px;
  font-weight: 400;
  font-family: 'Caveat', cursive;  margin-bottom: 0;
}
.footer{
  background-color: #FF4A4A;
}
footer{
    width: 60%;
    margin-left: 20%;

}
footer h2{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Caveat', cursive;  margin-bottom: 0;
  margin-top: 0;
  padding-top: 30px;
}
footer ul li{
  display: inline-block;
  padding: 30px;
}
footer ul{
  text-align: center;
}
